<div class="contents">
	<h3 class="search-result-h3">クチコミ一覧</h3>
	<div class="review-result">
		<hr class="line">
		<div class="reviews-card">
			<div class="review-card">
				<p>
				<%= link_to '【クチコミ】'+@description_1, "/review/show/#{@review_id_1}"  %>
				</p>
				<p>
				【商品名】<%= @product_name_1%>
				【ブランド名】<%= @brand_name_1%>
				</p>
				<hr class="line" >
			</div>
			<div class="review-card">
				<p>
				<%= link_to '【クチコミ】'+@description_2, "/review/show/#{@review_id_2}"  %>
				</p>
				<p>
				【商品名】<%= @product_name_2%>
				【ブランド名】<%= @brand_name_2%>
				</p>
				<hr class="line" >
			</div>
			<div class="review-card">
				<p>
				<%= link_to '【クチコミ】'+@description_3, "/review/show/#{@review_id_3}"  %>
				</p>
				<p>
				【商品名】<%= @product_name_3%>
				【ブランド名】<%= @brand_name_3%>
				</p>
				<hr class="line" >
			</div>
			<div class="review-card">
				<p>
				<%= link_to '【クチコミ】'+@description_4, "/review/show/#{@review_id_4}"  %>
				</p>
				<p>
				【商品名】<%= @product_name_4%>
				【ブランド名】<%= @brand_name_4%>
				</p>
				<hr class="line" >
			</div>
			<div class="review-card">
				<p>
				<%= link_to '【クチコミ】'+@description_5, "/review/show/#{@review_id_5}"  %>
				</p>
				<p>
				【商品名】<%= @product_name_5%>
				【ブランド名】<%= @brand_name_5%>
				</p>
				<hr class="line" >
			</div>
		</div>
	</div>
</div>
